<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Test web</title>
	</head>
	<body>
		<h1>Test web</h1>
		<p><a href="/lucky-number">Número de la suerte</a></p>
		<p><a href="/test-controller">Fecha</a></p>
    </body>
</html>
