<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Test web</title>
	</head>
	<body>
		<h1>Test web</h1>
		<p>{{ texto }} {{ dato }}</p>
		<p></p>
		<p><a href="/">Volver</a></p>
    </body>
</html>
